.contact-section {
    margin-top: 10rem;
    background-color: $color-dark-blue;
    &__content {
        color: $color-white;
        display: flex;
        &--text {
            padding: 100px 50px 100px 0;
            width: 50%;
            h1 {
                margin-bottom: 35px;
            }
            p {
                font-weight: $font-medium;
                max-width: 500px;
                margin-bottom: 35px;
            }
            .contact-links {
                display: flex;
                flex-direction: column;
                .first-parh {
                    font-weight: $font-medium;
                    margin-bottom: 10px;
                    span {
                        font-weight: 400;
                        font-size: 1.6rem;
                    }
                }
                .big-mail {
                    span {
                        word-break: break-all;
                    }
                }
                a {
                    width: 450px;
                    background-color: $color-white;
                    padding: 10px 16px;
                    border-radius: 10px;
                    color: $color-black;
                    display: flex;
                    transition: .3s;
                    align-items: center;
                    span {
                        font-size: 2rem;
                        font-weight: bold;
                    }
                    i {
                        margin-right: 15px;
                        font-size: 24px;
                    }
                    
                }
                a:not(:last-child) {
                    margin-bottom: 20px;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
                .map-link {
                    position: relative;
                    overflow: hidden;
                    &::before {
                        content: 'Zobacz na mapie';
                        position: absolute;
                        left: 0;
                        transform: translateY(-100%);
                        transition: .2s;
                        z-index: 0;
                        font-size: 1.8rem;
                        background-color: $color-light-blue;
                        color: $color-white;
                        width: 100%;
                        padding: 5px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        
                    }
                    &:hover::before {
                        transform: translateY(0px);
                    }
                }
                span {
                    max-width: 450px;
                }
                .about-hours {
                    font-weight: $font-medium;
                    margin-bottom: 10px;
                }
                .hours {
                    font-weight: $font-bold;
                    margin-bottom: 10px;
                }
            }
        }
        &--img {
            width: 50%;
            background-image: url('../../assets/imgs/contact/contact-1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
        }
    }
}

@include break-point-down(md) {
    .contact-section {
        &__content {
            flex-direction: column-reverse;
            &--img {
                width: 100%;
                height: 460px;
            }
            &--text {
                width: 100%;
                padding: 40px 0;
                width: 100%;
            }
        }
    }
}

@include break-point-down(mb) {
    .contact-section {
        &__content {
            &--text {
                p {
                    max-width: 100%;
                }
                .contact-links {
                    a {
                        width: 100%;
                    }
                    span {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}