.dashboard-section {
    width: 100%;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 10rem;
    padding: 50px 0;
    &__bg-img {
        background-image: url('../../assets/imgs/home-home-1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .img-2 {
        background-image: url('../../assets/imgs/ofz/ofz-1.jpg');
    }
    &__text {
        position: relative;
        p {
            color: $color-white;
            max-width: 50rem;
            padding: 35px 0;
        }
    }
}

@include break-point-down(tab) {
    .dashboard-section {
        min-height: 50rem;
        &__text {
            p {
                padding: 30px 0;
            }
        }
    }
}
@include break-point-down(md) {
    .dashboard-section {
        margin-top: 8rem;
    }
}

@include break-point-down(mb) {
    .dashboard-section {
        min-height: 45rem;
        &__text {
            p {
                padding: 20px 0 30px 0;
            }
        }
    }
}