.ofert-content-section {
    width: 100%;
    margin: 80px 0;
    &__text {
        h3 {
            font-size: 2.5rem;
            margin: 30px 0 20px 0;
        }
        p {
            margin-bottom: 10px;
            padding: 0 20px;
            a {
                color: $color-light-blue;
            }
        }
        .warning {
            margin-top: 40px;
            margin-bottom: 20px;
            display: block;
            font-size: 2.5rem;
            color: #e64242;
            font-weight: $font-bold;
        }
        ul {
            margin-bottom: 10px;
            padding: 0 30px;
        }
        .ul-warning {
            background-color: rgba($color: #e64242, $alpha: .7);
            padding: 15px 30px;
            border-radius: 15px;
            width: fit-content;
            color: $color-white;
            margin-left: 20px;
        }
    }
}

