$breakpoints: (
    fullHd: 1920px,
    lg: 1440px,
    md: 1024px,
    tab: 800px,
    mb: 620px,
    600: 600px,

);


@mixin break-point-down($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}


// styles for containers

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
    @include break-point-down(mb) {
        padding: 0 15px;
    }
}