// main colors

$color-black: #000;
$color-white: #fff;

$color-dark: #0F0F0F;
$color-dark-blue: #02255D;
$color-light-blue: #0D9BFF;
$color-super-light-blue: #2076B2;
$color-light-dark-green: #20A868;
$color-mint: #DBF4F4;
$color-gray: #717171;
$color-caramel: #F6F5F1;


